@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Karla:wght@400;500;700&family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.cdnfonts.com/css/hitch-hike');

@font-face {
  font-family: 'Hitch Hike';
  src: local('Hitch Hike'), local('HitchHike');
  font-display: swap;
}
